[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/sufficiency-hugo-theme"]
	path = themes/sufficiency-hugo-theme
	url = git@github.com:osunyorg/sufficiency-theme.git
