$color-accent: #C1BAFF
$color-text: #2A2A2A
$color-text-alt: #393939
$color-background: #FCFFF8
$color-background-alt: #E6C8AB
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$heading-font-family: "Aileron", sans-serif
$body-font-family: "AtkinsonHyperlegible"

$header-background: radial-gradient(farthest-corner at 10px 10px ,#ECEDF5 50%,#E8FBC3 70%, #FCCFC3 100%)
$header-logo-height: 32px
$header-logo-height-desktop: 35.52px
$header-border-bottom-width: 0
$footer-background-color: #333333
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
$hero-background-color: $header-background

$footer-color: #ffffff
$block-testimonials-pagination-background: #C1BAFF