$color-accent: #C1BAFF
$color-text: #2A2A2A
$color-text-alt: #393939
$color-background: #FCFFF8
$color-background-alt: #E6C8AB
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

$heading-font-family: "Aileron", sans-serif
$body-font-family: "AtkinsonHyperlegible", sans-serif

$header-background: none

$header-logo-height: 32px
$header-logo-height-desktop: 35.52px
$header-border-bottom-width: 0
$footer-background-color: #333333

$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
$hero-background-color: radial-gradient(farthest-side at bottom left,#ECEDF5 44%,transparent 90%),radial-gradient(#E8FBC3 65%,transparent 90% ),radial-gradient(farthest-side at bottom right,#FCCFC3 50%,transparent ),radial-gradient(farthest-side at top right,#E8FBC3 50%,transparent 70% )
$hero-height-desktop: 90vh

$footer-color: #ffffff
//meta
$meta-font-family: $heading-font-family 
$meta-size-desktop: pxToRem(16) 
$meta-size: pxToRem(14) 
$meta-line-height: 150% 
$meta-line-height-desktop: $meta-line-height 
$meta-weight: 300

//Blockcta
$block-call-to-action-color: $color-text

// Body
$body-size-desktop: pxToRem(22)
$body-size: pxToRem(18)
$body-line-height: 160% 
$body-line-height-desktop: $body-line-height 
$body-weight: normal



// Lead
$lead-font-family: $heading-font-family 
$lead-size-desktop: pxToRem(50)
$lead-size: pxToRem(24)
$lead-line-height: 130% 
$lead-line-height-desktop: $lead-line-height 
$lead-weight: 400

$lead-sidebar-font-family: $body-font-family
$lead-sidebar-size-desktop: pxToRem(10)
$lead-sidebar-size: $lead-size
$lead-sidebar-line-height: 120%
$lead-sidebar-line-height-desktop: $lead-sidebar-line-height
$lead-sidebar-weight: 300

$lead-hero-font-family: $lead-sidebar-font-family
$lead-hero-size: pxToRem(24)
$lead-hero-size-desktop: $lead-sidebar-size-desktop
$lead-hero-line-height: 130%
$lead-hero-line-height-desktop: $lead-hero-line-height
$lead-hero-weight: $lead-sidebar-weight


// Signature
$signature-font-family: $lead-hero-font-family
$signature-size-desktop: pxToRem(18)
$signature-size: $signature-size-desktop
$signature-line-height: 130%
$signature-line-height-desktop: $signature-line-height
$signature-weight: 300

$h5-weight: 300  

.avatar
   width: columns(1.5)