.page__home
    .hero
        background: radial-gradient(farthest-side at bottom left, #ECEDF5 44%, transparent 90%), radial-gradient(#E8FBC3 55%, transparent 90%), radial-gradient(farthest-side at bottom right, #FCCFC3 20%, transparent), radial-gradient(farthest-side at top right, #E8FBC3 35%, #E8FBF6 87%)
        display: flex
        height: 70vh
        .container
            margin: auto
            .content
                padding-top: 0rem
                
                .hero-text
                    margin: 0rem
                    hgroup
                        
                        display: block
                        h1
                            display: inline
                            margin-right: 0.5rem
                        .lead
                            display: none
                            font-family: "Aileron", sans-serif
                            font-size: pxToRem(60)
                            @include media-breakpoint-down(desktop)
                                font-size: pxToRem(30)
                            &::after
                                font-weight: bold
                                content: '_'
                                opacity: 1
                                animation: blink 0.5s infinite alternate
                               


footer#document-footer
    .footer-legals
        .footer-credit
            div
                margin-top: pxToRem(12)

.blocks
    .block-title
        font-weight: normal
    .block-chapter
        &--accent_background
            padding-top: $spacing-6 !important
            padding-bottom: $spacing-6 !important
            .chapter 
                .text
                    width: 100% !important
                    @include lead
                    *
                        color: $color-text
                        font-weight: bold
           


    .block-pages
        
        &--grid 
            .grid
                @include in-page-without-sidebar 
                    grid-template-columns: repeat(2, 1fr)

    .block-persons
        .persons
            @include in-page-with-sidebar 
                grid-template-columns: repeat(4, 1fr)
                .person
                    display: grid
                    .avatar
                        margin-left: auto
                        margin-right: auto
                    .description
                        text-align: center

@keyframes blink
    0%
        opacity: 1
    100%
        opacity: 0