.page__home
    .hero
        min-height: 90vh
.avatar
   width: columns(1.5)

.blocks
    .block-chapter
        &--accent_background
            padding-top: $spacing-6 !important
            padding-bottom: $spacing-6 !important
            .chapter 
                .text
                    width: 100% !important
                    @include lead
                    *
                        color: $color-text
                        font-weight: bold